static/img/ar_models/crop_tomatoes.glb filter=lfs diff=lfs merge=lfs -text
static/img/ar_models/eggplant.glb filter=lfs diff=lfs merge=lfs -text
static/img/ar_models/chili_pepper.glb filter=lfs diff=lfs merge=lfs -text
