# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# OS filesgit add detection/models/*.keras
.DS_Store
Thumbs.db

# # Model files (large)
# *.keras
# *.h5

# # Dataset / Uploads
# scans/
# uploads/

# Compiled translation files
# *.mo